@font-face {
  font-family: "egg-icons"; /* Project id 2193494 */
  src: url('~@assets/icons/iconfont.woff2') format('woff2'),
       url('~@assets/icons/iconfont.woff') format('woff'),
       url('~@assets/icons/iconfont.ttf') format('truetype');
}

[class^="egg-icon-"], [class*=" egg-icon-"] {
  font-family: "egg-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.egg-icon-arrow-left:before {
  content: "\e616";
}

.egg-icon-contacts:before {
  content: "\e617";
}

.egg-icon-arrow-right:before {
  content: "\e618";
}

.egg-icon-bulb:before {
  content: "\e619";
}

.egg-icon-call:before {
  content: "\e61a";
}

.egg-icon-circle-plus:before {
  content: "\e61b";
}

.egg-icon-caret-bottom:before {
  content: "\e61c";
}

.egg-icon-bridge-mini:before {
  content: "\e61d";
}

.egg-icon-club:before {
  content: "\e61e";
}

.egg-icon-circle-close:before {
  content: "\e61f";
}

.egg-icon-check:before {
  content: "\e620";
}

.egg-icon-distance:before {
  content: "\e621";
}

.egg-icon-edit:before {
  content: "\e622";
}

.egg-icon-exchange:before {
  content: "\e623";
}

.egg-icon-location-mini:before {
  content: "\e624";
}

.egg-icon-museum:before {
  content: "\e625";
}

.egg-icon-minus:before {
  content: "\e626";
}

.egg-icon-more:before {
  content: "\e627";
}

.egg-icon-message:before {
  content: "\e628";
}

.egg-icon-moisture:before {
  content: "\e629";
}

.egg-icon-photo:before {
  content: "\e62a";
}

.egg-icon-plus:before {
  content: "\e62b";
}

.egg-icon-reservation:before {
  content: "\e62c";
}

.egg-icon-hotel:before {
  content: "\e62d";
}

.egg-icon-loading:before {
  content: "\e62e";
}

.egg-icon-next:before {
  content: "\e62f";
}

.egg-icon-rainy:before {
  content: "\e630";
}

.egg-icon-park:before {
  content: "\e631";
}

.egg-icon-search:before {
  content: "\e632";
}

.egg-icon-trash:before {
  content: "\e633";
}

.egg-icon-time:before {
  content: "\e634";
}

.egg-icon-stadium:before {
  content: "\e635";
}

.egg-icon-send:before {
  content: "\e636";
}

.egg-icon-setup:before {
  content: "\e637";
}

.egg-icon-restaurant:before {
  content: "\e638";
}

.egg-icon-start:before {
  content: "\e639";
}

.egg-icon-trending:before {
  content: "\e63a";
}

.egg-icon-windy:before {
  content: "\e63b";
}

.egg-icon-hamburg:before {
  content: "\e630";
}

.egg-icon-cathedral:before {
  content: "\e631";
}

